NODE_ENV=development
JWT_SECRET='testtokenforsecurity'
JWT_EXP=3600
PORT=3000
SEED_MAPS_API_KEY=maps_api_key
LDAP_HOST=localhost
LDAP_PORT=1389
LDAP_PASS=safepaths
LDAP_ORG='dc=covidsafepaths, dc=org'
LDAP_BIND="cn=admin, dc=covidsafepaths, dc=org"
LDAP_SEARCH="cn={{username}}, dc=covidsafepaths, dc=org"
LDAP_FILTER="(objectClass=*)"